#box{
    border: 5px solid green;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
    color:rgb(105, 105, 182);
    background-color: aqua ;
}

#image{
    width: 25px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}